extends layout

block content
  script(type='text/javascript').
    var departments = #{departments};
  .container
    .jumbotron
      h1 Domain #{domain_name} info
  .container
    each dep in departments
      a(href='/department_info/'+ dep.name) #{dep.name}
      br
  .container
      each d in domains
        p
        | name: #{d.name}
        p
        | type: #{d.type}
        p
        | fqdn: #{d.fqdn}
        p
        | description: #{d.description}
        br
