extends layout

block content
  script(type='text/javascript').
    var departments = #{deps};
  .container
    .jumbotron
      h1 #{domain_name} domain info
  .container
        p
        | name: #{deps.name}
        p
        | type: #{deps.type}
        p
        | fqdn: #{deps.fqdn}
        p
        | description: #{deps.description}
        br
        br
  .container
    span(style='font-weight:bold') departments:
    br
    each dep in deps.departments
      a(href='/department_info/'+ domain_name+'/'+ dep.name) - #{dep.name}
      br
    br
  .container
    a(href="/department_create_form"): button.btn.btn-default(type="button") Create new department
    br
  .container
    a(href="/domain_list"): button.btn.btn-default(type="button") Continue
