extends layout

block content
  script(type='text/javascript').
    var departments = #{departments};
  .container
    .jumbotron
      h1 Domain #{domain_name} info
  .container
      each d in domains
        p
        | name: #{d.name}
        p
        | type: #{d.type}
        p
        | fqdn: #{d.fqdn}
        p
        | description: #{d.description}
        br
  .container
    p departments:
    each dep in departments
      a(href='/department_info/'+ dep.name) - #{dep.name}
      br
  .container
    a(href="/department_create_form"): button.btn.btn-default(type="button") Create new department
    br
  .container
    a(href="/department_list"): button.btn.btn-default(type="button") Continue
